main.form-control
{
    display: inline-block;
    width: auto;
}

.card-body {
    text-align: start;
}

.results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.book-container {
    display: flex;
    justify-content: center;
}

.form-border {
    border-color: #ECDB88;
    border-style: solid;
    border-radius: 1rem;
    padding: 0.5rem;
}

main
{
    overflow-x: auto;
    text-align: center;
}

main img
{
    max-width: 100%;
}
